@charset "utf-8";
@font-face{
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot');
    src: url('../fonts/BYekan.eot') format('embedded-opentype'),
         url('../fonts/BYekan.woff') format('woff'),
         url('../fonts/BYekan.ttf') format('truetype'),
         url('../fonts/BYekan.svg#byekan') format('svg');
}
body
{
	background: #f7f7f7;
	direction:rtl;
	font-size:13px;
	margin:0px;
	padding:0px;
}
a
{
	text-decoration:none;
}
.login_form
{
	background:#3e4abc;
	margin:50px auto;
	border-radius:10px;
	padding:20px;
	color:#fff;
	font-family:tahoma;
	box-shadow:0px 0px 150px #3e4abc;
}
.login_form td
{
	padding:5px;
}
.login_form input[type="text"], .login_form input[type="password"]
{
	outline:none;
	padding:5px;
	border:1px solid #000;
	font-size:13px;
	font-family:tahoma;
	border-top-left-radius:30px;
}
.login_form input[type="submit"]
{
	font-size:13px;
	font-family:tahoma;
	padding:5px;
	cursor:pointer;
	outline:none;
	background:#fff;
	border:1px solid #000;
	border-top-left-radius:30px;
}
.logo
{
	background:#fff;
	padding:20px;
	border-radius:30px;
	margin-bottom:30px;
}
.panel
{
	margin:50px auto;
	font-family:tahoma;
	font-size:13px;
}
.admin_menu
{
	background:#3e4abc;
	padding:20px;
	border-top-left-radius:30px;
}
.admin_menu ul, .admin_menu li
{
	display:inline;
	margin:0px;
	padding:0px;
	font-family: 'BYekan';
}
.admin_menu li
{
	margin-left:25px !important;
}
.admin_menu li a
{
	color:#fff;
}
.admin_menu li a:hover
{
	color:#bddbc4;
	transition-duration:0.3s;
}
.panel_content
{
	background:#fff;
	border-top-left-radius:30px;
	min-height:500px;
	margin-top:20px;
	border:1px solid #3e4abc;
}
.panel_content h2
{
	background:#3e4abc;
	color:#fff;
	font-family:'BYekan';
	border-top-left-radius:30px;
	margin:0px;
	padding:20px;
}
.form_data
{
	padding:20px;
	line-height:40px;
}
.form
{
	display:inline;
}
.form td
{
	padding-bottom:20px;
}
.form input[type="text"], .form input[type="password"]
{
	outline:none;
	padding:5px;
	border:1px solid #000;
	font-size:13px;
	font-family:tahoma;
	border-top-left-radius:30px;
}
.form textarea
{
	outline:none;
	resize:none;
	padding:5px;
	border:1px solid #000;
	font-size:13px;
	font-family:tahoma;
	border-top-left-radius:30px;
	height:400px;
}
.form select
{
	outline:none;
	padding:5px;
	border:1px solid #000;
	font-size:13px;
	font-family:tahoma;
	border-top-left-radius:30px;
}
.form input[type="submit"]
{
	font-size:13px;
	font-family:tahoma;
	padding:5px;
	cursor:pointer;
	outline:none;
	background:#fff;
	border:1px solid #000;
	border-top-left-radius:30px;
}
.form_database
{
	width:100%;
}
.form_database tr:nth-child(1) td
{
	background:#3e4abc;
	color:#fff;
}
.form_database tr:nth-child(1) td:before
{
	content:'' !important;
}
.form_database td:nth-child(odd):before
{
	content:'- '
}
.form_database td
{
	padding-right:10px;
	border-bottom:1px solid #3e4abc;
}
.form_database #delete
{
	color:#f00;
	margin-left:20px;
}
.form_database #edit
{
	color:#f0f;
	margin-left:20px;
}
.form_database #accept
{
	color:#0f0;
	margin-left:20px;
}
.form_database #site
{
	color:#e0e;
	margin-left:20px;
}
.form_database #view
{
	color:#666;
}

@media (min-width: 951px)
{
	.login_form
	{
		width:400px;
	}
	.login_form input[type="text"], .login_form input[type="password"]
	{
		width:300px;
	}
	.login_form input[type="submit"]
	{
		width:150px;
		float:left;
	}
	.panel
	{
		width:900px;
	}
	.form input[type="text"], .form input[type="password"]
	{
		width:700px;
	}
	.form textarea
	{
		width:700px;
	}
	.form select
	{
		width:720px;
	}
	.form input[type="submit"]
	{
		width:150px;
		float:left;
	}
}
@media (min-width: 768px) and (max-width: 950px)
{
	.login_form
	{
		width:400px;
	}
	.login_form input[type="text"], .login_form input[type="password"]
	{
		width:300px;
	}
	.login_form input[type="submit"]
	{
		width:150px;
		float:left;
	}
	.panel
	{
		width:700px;
	}
	.panel img
	{
		width:650px;
	}
	.admin_menu li
	{
		margin-left:10px !important;
	}
	.form input[type="text"], .form input[type="password"]
	{
		width:550px;
	}
	.form textarea
	{
		width:550px;
	}
	.form select
	{
		width:570px;
	}
	.form input[type="submit"]
	{
		width:150px;
		float:left;
	}
}
@media (min-width: 481px) and (max-width: 767px)
{
	.login_form
	{
		width:400px;
	}
	.login_form input[type="text"], .login_form input[type="password"]
	{
		width:300px;
	}
	.login_form input[type="submit"]
	{
		width:150px;
		float:left;
	}
	.panel
	{
		width:400px;
	}
	.panel img
	{
		width:350px;
	}
	.admin_menu li
	{
		display:block !important;
		margin:15px 0px;
		text-align:center;
		border-bottom:1px solid #fff;
		padding-bottom:15px;
	}
	.form
	{
		font-size:10px;
	}
	.form input[type="text"], .form input[type="password"]
	{
		width:280px;
	}
	.form textarea
	{
		width:280px;
	}
	.form select
	{
		width:300px;
	}
	.form input[type="submit"]
	{
		width:150px;
		float:left;
	}
}
@media (max-width: 480px)
{
	.login_form
	{
		width:180px;
		font-size:8px;
	}
	.login_form img
	{
		width:150px;
	}
	.login_form input[type="text"], .login_form input[type="password"]
	{
		width:100px;
	}
	.login_form input[type="submit"]
	{
		width:110px;
	}
	.panel
	{
		width:180px;
	}
	.panel img
	{
		width:150px;
	}
	.admin_menu li
	{
		display:block !important;
		margin:15px 0px;
		text-align:center;
		border-bottom:1px solid #fff;
		padding-bottom:15px;
	}
	.form
	{
		font-size:10px;
	}
	.form input[type="text"], .form input[type="password"]
	{
		width:100px;
	}
	.form textarea
	{
		width:100px;
	}
	.form select
	{
		width:120px;
	}
	.form input[type="file"]
	{
		font-size:8px;
	}
	.form input[type="submit"]
	{
		width:100px;
		float:none !important;
	}
	.form_database:before
	{
		content:'مشکلی در نمایش رخ داده است.' !important;
	}
	.form_database tr
	{
		display:none;
	}
}